@model HamperDetailViewModel
@{
    var photoPath = "/img/" + (Model.PhotoPath ?? "NoImage.jpg");
}
<table class="table table-primary mt-4">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Details</th>
            <th>Price</th>
            <th>Category</th>
            <th>Status</th>
            <th>Update</th>

        </tr>
    </thead>
    <tbody>

        <tr>
            <td>@Model.Id</td>
            <td>@Model.Name</td>
            <td>@Model.Details</td>
            <td>@Model.Price</td>
            <td>@Model.CategoryName</td>
            <td>@Model.Status</td>
            <td>@Html.ActionLink("Update", "Update", "Hamper", new { id = Model.Id })</td>

        </tr>

    </tbody>
</table>

<div class="row">
    <img src="@photoPath" />
</div>
@if (User.IsInRole("Admin"))
{
    @Html.ActionLink("Back to List", "Index", "Hamper")
}
else
{
    @Html.ActionLink("Back to Home", "Index", "Customer")
}


