@model IEnumerable<HamperIndexViewModel>

@{
    ViewData["Title"] = "Index";
}


<div>@User.Identity.Name</div>
@Html.ActionLink("View Profile", "Profile", "Customer", new { Username = User.Identity.Name })
@Html.ActionLink("Update", "UpdateProfile", "Customer", new { Username = User.Identity.Name })
@Html.ActionLink("Test", "Test", "Customer")
@Html.ActionLink("Hampers", "Index", "Hamper")

<div class="row">
    <div class="col-12 text-center">
        <div id="carouselAbout" class="carousel slide bg-dark w-auto" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/img/slide4.jpeg" class="img-fluid" alt="Slide One" />
                </div>
                <div class="carousel-item">
                    <img src="~/img/slide5.jpeg" class="img-fluid" alt="Slide Two" />
                </div>
                <div class="carousel-item">
                    <img src="~/img/slide6.jpeg" class="img-fluid" alt="Slide Three" />
                </div>
                <div class="carousel-item">
                    <img src="~/img/slide7.jpeg" class="img-fluid" alt="Slide Three" />
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselAbout" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#carouselAbout" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</div>

@*<div class="row bg-info">
        @foreach (var hamp in Model)
        {
            var photoPath = "/img/" + (hamp.PhotoPath ?? "NoImage.jpg");
            <div class="col-3 mt-3 mb-3">
                <div class="card" style="width: 16rem;">
                    <img src=@photoPath class="card-img-top">
                    <div class="card-body">
                        @Html.ActionLink("Details", "Details", "Hamper", new { id = hamp.Id })
                        <p class="card-text">Price:  @hamp.Price $ </p>
                        <a href="#" class="btn btn-primary">Add</a>
                    </div>
                </div>
            </div>
        }
    </div>*@

