@*@model CustomerIndexViewModel*@
@{
    ViewData["Title"] = "Index";
}

@*<h2>Welcome @Model.FirstName</h2>*@

<div>@User.Identity.Name</div>
@Html.ActionLink("View Profile", "Profile", "Customer", new { Username = User.Identity.Name })
@Html.ActionLink("Update", "UpdateProfile", "Customer", new { Username = User.Identity.Name })

@Html.ActionLink("Test", "Test", "Customer")

