@model CategoryDetailViewModel

<div>
    <p>Category Id: @Model.CategoryId</p>
    <p>Name: @Model.CategoryId</p>
    <p>Description Id: @Model.Description</p>
</div>

<div class="row bg-info">
    @foreach (var hamp in Model.Hampers)
    {
        var photoPath = "/img/" + (hamp.PhotoPath ?? "NoImage.jpg");
        <div class="col-3 mt-3 mb-3">
            <div class="card" style="width: 16rem;">
                <img src=@photoPath class="card-img-top">
                <div class="card-body">
                    @Html.ActionLink("Details", "Details", "Hamper", new { id = hamp.Id })
                    <p class="card-text">Price:  @hamp.Price $ </p>
                    <a href="#" class="btn btn-primary">Add</a>
                </div>
            </div>
        </div>
    }
</div>
@Html.ActionLink("Go Back To Category", "Index", "Category");